@import url('https://fonts.googleapis.com/css2?family=Onest:wght@200&family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Onest:wght@200&family=Open+Sans:wght@300&display=swap');

:root{
--color-primario:#FFAACC ;
--color-secundario:#2CDBFF ;
--color-terciario:#54595F ;

--color-blanco: white;
--color-negro: black ;

--color-a:#6A3625 ;
--color-b: #E69FA4;

--color-c:#35aac4 ;
--color-d:#00a3b5 ;
--color-e: #0f587e;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Onest', sans-serif;
}

body{
    margin: 0;
    padding: 0;
}

ul,ol{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a{
    text-decoration: none;
}

p{
    margin: 0;
    
}

.div-header{
    display: flex;  
     align-items: center;
     justify-content: space-between;
     background-color: var(--color-b);
     height: 13vh;
     width: 100%;
}

/* logo */

.div-logo{
    display: flex;
    align-items: center;
}

.logo{
    
    width: 19%;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}


.texto-logo{
    
    font-family: 'Dancing Script', sans-serif;
    color: var(--color-blanco);
    font-size: 2.5vw;
}

/* nav */

.nav{
    display: flex;
    /* justify-content: flex-end;  */
   
}
.div-nav{
    
    display: flex;
    width: 100%;
}

.nav-ul{
    display: flex;
    /* align-items: center; */
    gap: 20px;
    padding-right: 15px;
    width: 100%;
}
.a-nav{
font-size:1rem ;
    color: var(--color-blanco);
font-weight: bold;
    
}

.a-nav:hover{
color: var(--color-d);

}




/* banner */

.banner{
    background:linear-gradient(rgba(180, 182, 184, 0.421), rgba(180, 182, 184, 0.421)), url(/imagenes/utensilios-de-reposteria-banner.jpg);
height: 37rem;
background-size: cover;
/* opacity: 0.4; */
display: flex;
justify-content: flex-end;
align-items: center;
width: 100%;
}

.banner-texto{
    
    display: flex;
    justify-content:center ;
    width: 60%;
    flex-wrap: wrap;
    padding-right: 2rem;
}

.banner-titulo{
font-size: 5rem;
font-family: 'Dancing Script', sans-serif;
color: var(--color-blanco);
padding-bottom: 15px;
}

.banner-parrafo{
    font-size: 1.3rem;
    color: var(--color-blanco);
    text-align: right;
}
/* cards */
.cards{
    
    margin: 3rem 6rem;
}

.imag{
  
    height: 40vh;
    object-fit: cover;
}

.formm{
    /* max-width: 100%; */
    margin:2rem 6rem ;
    
}

.div-titulo-formm{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.titulo-formm{
    margin: 0;
}

.div-titulo-label-formm{
    display: flex;
    justify-content: center;
}

.titulo-label-formm{
    padding-bottom: 1rem;
}

.emaill{
    padding-top: 1rem;
}

.btn{
    background-color: #ce7178;
    border-color: aliceblue;
}

.btn:hover{
    background-color: var(--color-d);
    border-color: aliceblue; 
}

/* footer */

.div-footer{
    display: flex;
    justify-content: center;
    align-items: center;
   height: 10vh;
    background-color: var(--color-b);
   width: 100%;
}

.ul-footer{
    display: flex;
    gap: 5rem;
   
}

.a-footer{
    color: var(--color-blanco);
 
}

.a-footer:hover{
    color: var(--color-secundario);
}

@media screen and (max-width:768px) {

    .logo{
        width: 30%;
    }
    
      .texto-logo{
        font-size: 1.7rem; 
    }
    
.nav-ul{
    gap: 10px;
}

    .a-nav{
        font-size: 0.8rem;
    }

    .banner{
    height: 70vh;
    }

    .banner-texto{
        width: 100%;
          } 

          
    .ul-footer{
    gap: 2rem;
    } 

    .a-footer{
        font-size: .8rem;
    }
      
}
 
 @media screen and (max-width:460px) {
    .div-header{
        display: flex;  
       flex-direction: column;
        
        align-items: stretch;
         
    }

    .div-logo{
        border-bottom: 1px solid white;
    }
    .logo{
        width: 18%;
    }

    .texto-logo{
        font-size: 1.2rem;
    }

   .div-nav{
   
    display: flex;
    
   }
    .nav-ul{
        background-color: var(--color-b);
        display: flex;
       
        justify-content: flex-end;
        gap: 10px;
        align-items: center;
    }

    /* banner */

    .banner{
       background-size: 560px 500px;
       background-repeat: no-repeat;
       height: 60vh;
    }

    .banner-texto{
        padding-right: .5rem;
    }

    .banner-titulo{
        font-size: 3rem;
    }

    .banner-parrafo{
        font-size: 1rem;
    }

    /* cards */

    .cards{
        margin: 1rem 1rem;
    }
    .g-5, .gx-5 {
        --bs-gutter-x: 0rem;
    }

    /* formulario */

    .formm{
        margin: 1rem 1rem;
    }

    .titulo-label-formm{
        font-size: .9rem;
        text-align: center;
    }

    /* footer */

    .div-footer{
        height: auto;
    }
    .ul-footer{
display: flex;
flex-direction: column;
gap: 10px;
text-align: center;
    }
  

} 

.main{

    background:linear-gradient(rgba(187, 187, 192, 0.421), rgba(187, 187, 192, 0.421)), url(../imagenes/banner-rosa.jpg);

    background-color: #e6d2d4b0;
}

/* VIDEO */

.video{
display: flex;
align-items: center;
flex-direction: column;
}

.div-titulo-video{
    font-family: 'Dancing Script', sans-serif;
    color: var(--color-blanco);
    font-size: 4rem;
    padding-bottom: 1.5rem;
}



#video-titulo{
    padding: 1.5rem;
    text-decoration-line: underline;
   
}

/* RECETA:INGREDIENTES */
.div-receta-preparacion{
    display: flex;
    justify-content: center;
   flex-direction: column;
}

.div-h3{
    text-align: center; 
    list-style-type: circle;
    
}

.titulo-ul-ingred{
    padding: 1rem;
    text-decoration-line: underline;
}

.ol-preparacion>li{
    
    padding-bottom: 10px;
}

.div-receta{
margin: 2rem;
background:var(--color-blanco);
padding: 30px;
margin: 1rem 2rem;
} 

.div-receta  ul{
 
    list-style-type: circle;
    
}
.h3{
padding: 1rem 1rem;
font-family: 'Dancing Script', sans-serif;
color: var(--color-blanco);
font-size: 3rem;
text-decoration-line: underline;
    text-decoration-color:var(--color-blanco);
    line-height: 1.8;
}

.div-preparacion ol{
list-style-type: decimal;
background:var(--color-blanco);
padding: 30px;
margin: 1rem 2rem;
}

